// color
$white: white;
$black: #171717;

// fonts
$NF: normal-font;
$LF: lignt-font;

//errorss
$warning_color:#B95000;
$warning_bg:#FEF5EB;
$warning_border:#f1bf98;

$danger_color:#b90000;
$danger_bg:#feebeb;
$danger_border:#f19898;

$success_color:#0fb900;
$success_bg:#ebfeec;
$success_border:#98f19d;