// color
$black: #171717;
$BBA: #3699FF;
$BRA: #F64E60;
$BYA: #FFB900;
$BGA: #1BC5BD;
$LBA: #E1F0FF;
$LRA: #FFE2E5;
$LYA: #FFF4DE;
$LGA: #C9F7F5;
$modal_bg:rgba(0, 0, 0, 0.6);
$radius: 10px;

// fonts
$NF: normal-font;
$LF: lignt-font;

//errorss
$warning_color:#B95000;
$warning_bg:#FEF5EB;
$warning_border:#f1bf98;

$danger_color:#b90000;
$danger_bg:#feebeb;
$danger_border:#f19898;

$success_color:#0fb900;
$success_bg:#ebfeec;
$success_border:#98f19d;